<h1>CS 210 Pinokia - Breakathon</h1>
Steps:
<ol>
	<li>If using Android, <a href="http://184.169.136.30:8001/files/MobileCombatRelease.apk" target="_blank">download apk</a>
	<li><a href="https://www.facebook.com/settings?tab=security" target="_blan">Disable secure browsing on Facebook</a>
	<li>Play with the app!</a> 
	<li><a href="https://github.com/cs210/meandmyphone/issues?sort=created&direction=desc&state=open" target="_blank">Report issues</a></li>
	<li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dElDWkVBREV6Smk5ZXMxUEU2MzI0dXc6MQ#gid=0" target="_blank">Fillout feedback form</a>
<ol>
	
