<!DOCTYPE html>
<html lang="en">
<head>
  <title>Considerate App - Redefine Social</title>

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/css/landing.css" />
</head>

<body>
<div id="content" class="container">
 <iframe src="https://docs.google.com/presentation/embed?id=1NMGDEV05_h56S0kqfPHWDhCU3CclJifEVJAZEZr5CUo&start=false&loop=false&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  <div class="row">
   <h1 id="homelink" class="span12"> <a href="{% url landing %}">Home</a> </h1>
  </div>
</div>


</body>
</html>
