<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/css/landing.css" />
</head>

<body>
<div class="page-header" id="top-header">
  <h1>Considerate App <small>"Redefine Social"</small></h2>
</div>

<div id="content"> 
  <div class="row">
    <div class="span4 points"><h2>Know yourself.</h2><p>View your phone statistics. Educate yourself about your phone usage.</div>
    <div class="span4 points"><h2>Be purposeful.</h2><p>Replace your lockscreen with your phone score. Remind yourself to use the phone only when you mean to.</p></div>
    <div class="span4 points"><h2>Stay in the moment.</h2><p>Flip your phone face down to silence all but the most important notifications.</div>
  </div>
<div>

</body>
</html>
