<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/bootstrap.css" />
</head>

<body>
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="/dataview">Data Viewer</a>
		<div class="container">
			<ul class="nav">
				<li><a href="userform">Add User</a></li>
				<li><a href="statform">Add Stat</a></li>
				<li><a href="allusers">View All Users</a></li>
				<li><a href="lboardsearch">View Leaderboard</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="hero-unit">
	<h1>User - {{ id }}</h1>
	<h2>Usage range: From {{ earliest_time }} to {{ latest_time }} </h2>
	<h2>Time collecting data: {{ duration }} days </h2>
	<h2>Number of checks: {{ numchecks }}</h2>
	<h2>Checks per hour: {{ avgchecks }}</h2>
	<ul>
		{% for stat in stats %}
			<li>{{ stat.type }} - {{ stat.value }} - {{ stat.time_recorded }}</li>
		{% endfor %}
	</ul>
</div>

</body>
</html>
